<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yourstay.md.mapper.AccommodationMapper">
    <!-- 작업순서
       1. 이미지테이블 insert
       2. 등록하는 회원번호(mseq) 값 가져오기
       3. 숙소테이블 insert
       4. 숙소옵션테이블 insert
       5. utility 테이블 insert
     -->
     
   <!-- 회원 아이디 가져오기 -->
   <select id="getRegisterMemberSeq"
      resultType="yourstay.md.domain.MemberVO">
      SELECT * FROM member WHERE mseq = #{mseq}
   </select>
   
      <!-- 숙소 등록 -->
   <insert id="insertAccom"
      parameterType="yourstay.md.domain.roomRegisterVO"  useGeneratedKeys="true" keyProperty="aid">
      <selectKey keyProperty="aid" resultType="long" order="BEFORE">
          SELECT accommodation_seq.NEXTVAL FROM DUAL
       </selectKey>
      insert
      into accommodation (aid, aname, aloc, aprice, apoint, atype, apeople, mseq, anotice, ax, ay)
      values
      (#{aid}, #{aname},#{aloc},#{aprice},#{apoint},#{atype},#{apeople}, #{mseq},#{anotice},#{ax},#{ay})
   </insert>
   
   <insert id="insertOption"
      parameterType="yourstay.md.domain.roomRegisterVO">
      insert
      into accomoption (oid,aid, rnum,wifi ,tnum , bnum, wave,refg , bd,tv ,pet ,kitchen ,wash ,parking ,fire , smoking,roof,bbq)
      values
      (accomoption_seq.nextval, #{aid},#{rnum},#{wifi},#{tnum},#{bnum},#{wave},#{refg},#{bd},#{tv},#{pet},#{kitchen},#{wash},#{parking},#{fire},#{smoking},#{roof},#{bbq}) 
   </insert>
   
   <insert id="insertUtil"
      parameterType="yourstay.md.domain.roomRegisterVO">
      insert
	  into utility (utid, aid, ures, ucafe, ucon,uact)
      values
      (utility_seq.nextval,#{aid}, #{ures},#{ucafe},#{ucon},#{uact})   
   </insert>
   
   <insert id="insertFile" parameterType="hashMap">
       
       INSERT INTO image(  iid 
                         , org_file_name
                         , stored_file_name
                         , file_path 
                         , aid
                              )
                     VALUES(    image_seq.nextval
                              , #{org_file_name}
                              , #{stored_file_name}
                              , #{file_path}
                              , #{aid}
                               )
    </insert>

      <!-- 숙소 옵션 등록
   <insert id="insertAccomoption"
      parameterType="yourstay.md.domain.Accomoption">
      INSERT INTO accomoption oid, rnum, wifi, tnum, bnum, wave, refg, bd, tv, pet, kitchen, wash,parking ,fire ,smoking , roof,bbq
      VALUES(accomoption_seq.nextval,#{rnum},#{wifi},#{tnum},#{bnum},#{wave},#{refg},#{bd},#{tv},#{pet},#{kitchen},#{wash},#{parking},#{fire},#{smoking},#{roof},#{bbq})
   </insert> 
   <insert id="insertUtil" parameterType="yourstay.md.domain.Utility">
      INSERT INTO utility utid, ures, ucafe, ucon, uact
      VALUES(utility_seq.nextval, #{ures},#{ucafe},#{ucon},#{uact})
   </insert>-->

   
   
   <!-- <select id="getUsers" resultType="yourstay.md.domain.MemberVO"> select 
      * from member </select> <insert id="insertUser" parameterType="yourstay.md.domain.MemberVO"> 
      insert into member values(member_seq.nextval, #{mname}, #{memail}, #{mpwd}, 
      #{mcallnum}, 0) </insert> <delete id="deleteUser"> delete from member where 
      memail=#{memail} </delete> <select id="loginUser" parameterType="hashmap" 
      resultType="yourstay.md.domain.MemberVO"> select * from member where memail=#{memail} 
      and mpwd=#{mpwd} </select> -->
</mapper>
<!-- resultType : 결과반환 Object / return 값이라고 생각하면 될 듯? parameterType : 조회결과 
   Object -->