<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yourstay.md.mapper.RoomHistoryMapper">

	<select id="getRoomList" resultType="yourstay.md.domain.Reservation">
      select * from reservation R, accommodation A, member M where R.mseq=M.mseq and A.aid= R.aid and R.mseq=#{mseq}
   </select>
</mapper>
