<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
<!-- 		<typeAlias alias="Address" type="soo.md.domain.Address"/>
		<typeAlias alias="Board" type="soo.md.domain.Board"/>
		<typeAlias alias="BoardVo" type="soo.md.domain.BoardVo"/> -->
		<typeAlias alias="Accommodation" type="yourstay.md.domain.Accommodation"/>
		<typeAlias alias="MemberVO" type="yourstay.md.domain.MemberVO"/>
	</typeAliases>
	
	<!-- 
	<mappers>
	     <mapper resource="soo/md/mapper/AddressMapper.xml"/>
	     <mapper resource="soo/md/mapper/BoardMapper.xml"/>
	     <mapper resource="soo/md/mapper/AddressAjaxMapper.xml"/>
	</mappers>
	 -->

</configuration>